* {
	width:1300px;
	margin:auto;
}
body {
	background-color:green;
	border:1px solid white;
}
header {
	background-image:url(imagenes/cabecera1.jpg);
	height:130px;
	width:1300px;
	font-size:35px;
}
nav ul {
	background-color:grey;
	margin-top:10px;
}
nav li {
	list-style:none;
	float:left;
	border:1px solid white;
	width:130px;
	height:35px;
	text-align:center;
	color:red;
	padding-top:10px;
}
nav li a{
	color:red;
	text-decoration:none;
	padding:5px;
}
h1 {
	text-align:center;
	color:white;
	padding-top:30px;
}
#izquierda {
	background-color:#99FF33;
	float:left;
	width:510px;
	color:#008000;
	border:2px solid black;
	height:600px;
	padding-left:15px;
}
#centro {
	background-color:#008000;
	float:left;
	width:370px;
	color:white;
	border:2px solid black;
	margin-left:5px;
	height:600px;
	font-size:20px;
	padding-left:10px;
}
#derecha {
	background-color:white;
	width:370px;
	float:left;
	border:2px solid black;
	margin-left:5px;
	height:600px;
}
#Seleccion {
	background-color:grey;
	width:1300px;
}
.seco {
	width:150px;
	margin-left:50px;
	margin-bottom:30px;
	margin-top:15px;
	border:2px dashed black;
}
.basura {
	width:150px;
	padding-left:10px;
	padding-top:20px;
}
.imagenes {
	background-color:green;
	width:300px;
	height:40px;
	margin-left:30px;
	margin-top:30px;
	text-align:center;
	color:white;
	font-weight:bold;
	margin-bottom:15px;
}
.Imagenes2 {
	width:100px;
	height:100px;
	padding-left:10px;
}
.Imagenes3 {
	width:100px;
	height:100px;
}
.Imagenes4 {
	width:100px;
	height:100px;
}
.derecha2 {
	padding-left:20px;
	padding-top:15px;
}