#principal {
	width:645px;
	margin:auto;
}
body {
	background-color:#C0C0C0;
	border:3px dashed black;
}
h1 {
	text-align:center;
	margin-top:15px;
	margin-bottom:60px;
}
.numeros {
	list-style:none;
	background-color:#FFCCCC;
	width:80px;
	height:80px;
	float:left;
	margin:2px;
}
.dias {
	list-style:none;
	background-color:#FFCC66;
	width:79px;
	height:20;
	float:left;
	margin:2px;
	padding-left:1px;
}
.otromes {
	background-color:red;
	list-style:none;
	background-color:#848484;
	width:80px;
	height:80px;
	float:left;
	margin:2px;
}
.festivo {
	background-color:red;
	list-style:none;
	background-color:red;
	width:80px;
	height:80px;
	float:left;
	margin:2px;
}
.fiesta {
	text-align:center;
	font-size:15px;
	margin-top:-5px;
}