body {
background-color:#F0F0FF;
text-align:center;
border: 2px solid blue;
margin: 20px 20px 20px 20px
}
li {
color:purple;
}
p {
text-align:center;
font-weight:oblique;
color:purple;
font-size:15px;
}
img.borde {
border:2px dashed red;
}
ul {
text-align:left;
}
section {
text-align:left;
}
h1 {
color:blue;
}
h2 {
color:blue;
}
h3 {
text-align:left;
color:blue;
}
footer {
color:blue;
}
figcaption {
color:purple;
font-size:10px;
}
hgroup {
font-size:left;
}
aside {
font-size:left;
}
dl {
text-align:left;
color:purple;
}
#colec2 {
background-color:black;
}